* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.overlay {
    background: rgb(0, 0, 0, 0.3);
    width: 100%;
    min-height: 100vh;
}

#img-portada {
    position: relative;
    background-image: url(../images/lluvia.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.cont-portada {
    position: absolute;
    color: white;
    width: 40%;
    top: 40%;
    left: 35%;
}
.card{
    background-color: gold;
    padding: 20px;
    margin-bottom: 10px;
}
.title{
    text-align: center;
    color: white;
}
.cont-icono {
    position: fixed;
    bottom: 10%;
    right: 3%;
    background-color: rgb(68, 204, 41);
    border-radius: 50%;
    padding: 10px;
    color: white;
    display: inline-block;
    box-shadow: 0px 0px 15px 10px gray;
    animation-name: cambiarTamaño;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}

.icono {
    font-size: 70px;
}

@keyframes cambiarTamaño {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}
.modal-chat{
    position: fixed;
    background-color: rgb(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity .8s;
}
.cont-chat{
    background-color: rgb(46, 42, 42);
    color: white;
    position: absolute;
    right: 0;
    width: 360px;
    height: 90vh;
    border-radius: 15px;
    padding: 0 10px;
    margin-top: 2%;
    margin-right: 12%;
}
.chat{
    position: relative;
    height: 73vh;
    margin-bottom: 10px;
    background-image: url(../images/fondo_whatsapp.jpg);
}
.barra-contacto{
    background-color: rgb(68, 204, 41);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}
.contacto{
    display: flex;
    margin-left: 5px;
}
.opciones i{
    font-size: 28px;
    margin-right: 10px;
}
.cuerpo-chat{
    height: 80%;
    padding: 10px;
    overflow: auto;
}
.mensaje-bot{
    position: relative;
    display: flex;
    margin-bottom: 10px;
}
.tri-izq{
    position: absolute;
    top: 15px;
    left: 2px;
    width: 16px;
    height: 16px;
    transform: rotate(45deg);
    background-color: lightgray;
}
.texto{
    background-color: lightgray;
    color: black;
    width: 80%;
    border-radius: 10px;
    padding: 10px 20px;
    margin-left: 10px;
}
.respuesta{
    position: relative;
    display: flex;
    justify-content: end;
    margin-bottom: 10px;
}
.tri-der{
    position: absolute;
    top: 15px;
    right: 2px;
    width: 16px;
    height: 16px;
    transform: rotate(45deg);
    background-color: coral;
}
.texto-resp{
    background-color: coral;
    color: black;
    width: 80%;
    border-radius: 10px;
    padding: 10px 20px;
    margin-right: 10px;
}
.marcar{
    display: flex;
    flex-direction: column;
}
.mensaje{
    position: absolute;
    width: 100%;
    padding: 10px;
    bottom: 0;
}
.enviar{
    color: dodgerblue;
    position: absolute;
    bottom: 0;
    right: 10px;
}
.final-cel{
    transform: translateY(-8px);
    margin-top: 0;
    display: flex;
    justify-content: center;
}